<component name="ArtifactManager">
  <artifact type="war" name="spring-xxljob:war">
    <output-path>$PROJECT_DIR$/spring-xxljob/target</output-path>
    <root id="archive" name="spring-xxljob.war">
      <element id="artifact" artifact-name="spring-xxljob:war exploded" />
    </root>
  </artifact>
</component>